span.iconss {
    background-color: #999;
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    width: 21px;
    height: 21px;
    padding: 3px;
		background-color:#D4222A;
}

span.iconss:hover{
	background-color: #f8a61b;
}
.block-content{
	display:block !important;
}
.iconss.fb-sprites{
	background-image:url(../images/sprite-icons-social.png);
	background-position: -61px -161px;

}
.iconss.tw-sprites{
	background-image:url(../images/sprite-icons-social.png);
	background-position: -12px -162px;
}
.iconss.yt-sprites{
	background-image:url(../images/sprite-icons-social.png);
	background-position: -161px -163px;
}
.iconss.gp-sprites{
	background-image:url(../images/sprite-icons-social.png);
	background-position: -110px -162px;
}
.iconss.wp-sprites{
	background-image:url(../images/sprite-icons-social.png);
	    background-position: -261px -162px;
}
.iconss.pin-sprites{
	background-image:url(../images/sprite-icons-social.png);
	background-position: -311px -161px;
}
.iconss.linkedin-sprites{
	background-image:url(../images/sprite-icons-social.png);
	background-position: -360px -163px;
}

#ac-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .6);
    z-index: 1001;
}
.simplePopup {
display:none;
position:fixed;
border:2px solid #808080;
background:#fff;
z-index:99999;
padding:12px;
width:70%;
min-width:70%;
}

.simplePopupClose {
float:right;
cursor:pointer;
margin-left:10px;
margin-bottom:10px;
}

.simplePopupBackground {
display:none;
background:#000;
position:fixed;
height:100%;
width:100%;
top:0;
left:0;
z-index:99999;
}
