.merchant-info th,
.merchant-info td {
    padding: 4px 8px;
    font-size: 12px;
    line-height: 16px;
}
.merchant-info th {
    font-weight: bold;
}
.merchant-info td {
    font-weight: normal;
}

.wholesale-quantity {
    width: 40%;
    display: block;
    float: left;
}
.wholesale-price {
    width: 60%;
    display: block;
    float: left;
    font-weight: bold;
    text-align: left;
}